<div class="container">
    <div class="mt-4">
    <h3> Đặng khóa học</h3>
            <form method="post" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3" >
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
            <div id="name" class="form-text">nhập vào tên sản phẩm</div>
        </div>
        <div class="form-group">
            <label for="mota" class="form-label">Mô tả</label>
            <input type="text" class="form-control" value="{{course.mota}}" id="mota" name="mota">
            <div id="mota" class="form-text">nhập vào mô tả của sản phẩm</div>
        </div>
        <div class="form-group">
            <label for="anh" class="form-label">link sản phẩm</label>
            <input type="text" class="form-control" value="{{course.anh}}" id="anh" name="anh">
            <div id="anh" class="form-text">nhập vào link sản phẩm</div>
        </div>
        <div class="form-group">
            <label for="slug" class="form-label">Mô tả</label>
            <input type="text" class="form-control" value="{{course.slug}}" id="slug" name="slug">
            <div id="slug" class="form-text">nhập vào kí hiệu sản phẩm</div>
        </div>
        
    
        <button type="submit" class="btn btn-primary">lưu lại</button>
        </form>
</div>
</div>